@keyframes rotate {
  from {
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Safari */
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rainbow {
  0% { color: rgb(255, 0, 0) }
  16.67% { color: rgb(255, 255, 0) }
  33.33% { color: rgb(0, 255, 0) }
  50% { color: rgb(0, 255, 255) }
  66.67% { color: rgb(0, 0, 255) }
  83.33% { color: rgb(255, 0, 255) }
  100% { color: rgb(255, 0, 0) }
}

#error-container {
  background-color: black;
  text-align: center;
}

#error-container h1 {
  display: inline-block;
  margin: 100px;
  animation: rotate 3.5s linear infinite, rainbow 3s linear infinite;
}
