$gray-1: #303030;
$gray-2: #dfd7d3;
$gray-3: #cec3be;
$white: white;

$blue-1: #2f3440;
$blue-2: #606f8e;
$blue-3: #7394b0;
$blue-4: #84a6ba;
$button-blue: #6D84CB;

$red-1: #a15268;
$red-2: #a0518f;

$notice-blue: #5854B7;
$success-green: #22C167;
$error-red: #E01F35;

$lightness-scale: 10%;

// TODO: implement theme switching
// https://medium.com/@sanuthadathil/theme-and-color-scheme-sass-way-a62d68614ef3
