@import '_colors';
$flash-notice: #5854b7;
$flash-success: #22c167;
$flash-error: #e01f35;

.flash-doc { // rendered initially in erb
  display: none;
}

#flash-container {
  position: absolute;
  left: 16px;
}

.flash {  // rendered via react
  background-color: $flash-notice;
  color: white;
  border-radius: 6px;

  padding: 8px 10px;
  margin: 10px;
  min-width: 300px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flash.flash-success { background-color: $flash-success }

.flash.flash-error { background-color: $flash-error }

.flash:hover {
  color: rgba(255, 255, 255, 0.7);
}

.flash p {
  margin: 0px;
}

.flash i {
  margin: 0px;
}

.flash i:hover {
  cursor: pointer;
}

.flash-fading {
  animation-name: thanos;
  animation-duration: 0.8s;
    // if you change animation-duration,
    // also change the setTimeout in app/javascript/react/containers/FlashContainer.js
  animation-fill-mode: forwards;
}

.flash-end {
  display: none;
}

@keyframes thanos {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
