@import '_colors';

.name-container h3 {
  margin-top: 0;
  margin-bottom: 10px;
}

.name-container h4 {
  margin-bottom: 0;
}

h4.discord-tag {
  color: gray;
  font-style: italic;
}

@keyframes flashing {
  0% { color: rgba(55, 55, 55, 1) }
  50% { color: rgba(55, 55, 55, 0.5) }
  100% { color: rgba(55, 55, 55, 1) }
}

.loading-text {
  animation: flashing 0.9s linear infinite;
}
