@import '_colors';

form {
  max-width: 500px;
}

ul.form-errors {
  border: 1px red solid;
  color: red;
}

.form-errors li {
  color: red;
  padding: 12px;
  margin-left: 24px;
  font-size: 0.94em;
}

.panel.form-panel {
  max-width: 500px;
}

.form-submit-container {
  display: flex;
  justify-content: flex-end;
}

.form-submit {
  background-color: $button-blue;
  color: white;
  font-family: 'Quattrocento Sans', sans-serif;
  padding: 10px;
  float: right;
}

label p, .panel label p {
  font-size: 0.8em;
  display: inline-block;
  margin-bottom: 0px;
  float: right;
  text-align: right;
  color: gray;
}
