@import '_colors';

body {
  background-color: $blue-1;
  font-family: 'Quattrocento Sans', sans-serif;
}

#title-container a {
  @extend .bar ;
}

#title-container img {
  max-width: 48px;
  max-height: 48px;
  margin-left: -8px;
}

#title-container h2 {
  display: inline-block;
  margin: 0px;
}

.bar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.v-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bar-section {
  display: inline-block;
}

nav {
  @extend .bar ;
  padding: 12px;
  background-color: $blue-3;
}

nav.no-bg {
  background-color: rgba(0, 0, 0, 0)
}

.link-button {
  max-width: 200px;
  padding: 10px;
  margin: 0px;
  border-radius: 8px;
  color: $gray-2;
  text-align: center;
}

.link-button:hover {
  background-color: $blue-2;
}

.panel a {
  color: blue;
  text-decoration: underline;
}

.av-container {
  max-width: 128px;
  max-height: 128px;
  overflow: hidden;
  padding: 0px;
}

.av-container img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
}

.av-container .placeholder {
  width: 128px;
  height: 128px;
  border-radius: 50%;
}

#top-av {
  width: 48px;
  height: 48px;
  background-color: #2C2F33;
  border-radius: 50%;
  border: 3px $red-1 solid;
}

.placeholder {
  color: $gray-3 !important;
  background-color: $gray-3 !important;
  border-radius: 6px;
}

#nav-icons {
  width: 100%;
  color: $gray-2;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#nav-icons div {
  width: 25%;
}

button.button {
  border-radius: 6px;
}
