@import '_colors';

.title-container img {
  max-width: 48px;
  max-height: 48px;
  margin-left: -8px;
}

.title-container h2 {
  display: inline-block;
  margin: 0px;
}

nav {
  padding: 12px;
  background-color: $blue-3;
}

nav.no-bg {
  background-color: rgba(0, 0, 0, 0)
}

.av-container {
  max-width: 128px;
  max-height: 128px;
  overflow: hidden;
  padding: 0px;
}

.av-container img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
}

.av-container .placeholder {
  width: 128px;
  height: 128px;
  border-radius: 50%;
}

.top-av {
  width: 48px;
  height: 48px;
  background-color: #2C2F33;
  border-radius: 50%;
  border: 3px $red-1 solid;
  z-index: 30;
}

.top-av-open-filler {
  width: 48px;
  height: 24px;
  margin-top: -24px;
  background-color: $red-1;
  z-index: 25;
}

.placeholder {
  color: $gray-3 !important;
  background-color: $gray-3 !important;
  border-radius: 6px;
}

.av-menu {
  position: absolute;
  right: 12px;
  padding: 6px;
  list-style: none;
  background-color: $red-1;
}

.av-menu li a p:hover {
  background-color: scale-color($red-1, $lightness: -14%);
}

.nav-icons {
  width: 100%;
  color: $gray-2;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-icons div {
  width: 25%;
}
