@import '_colors';
@import 'common';

$av-radius: 32px;
$member-color: $button-blue;
$admin-color: green;
$owner-color: $red-2;

ul.user-cells {
  @extend .bar;
  margin: 0;
}

.user-cell {
  &:hover {
    cursor: pointer;
    background-color: lighten($member-color, $lightness-scale);
  };
  display: inline-block;
  margin: 2px 2px;
  padding: 2px;
  list-style-type: none;
  border-radius: 18px;
  background-color: $member-color;
}
.user-cell.admin {
  &:hover {
    background-color: lighten($admin-color, $lightness-scale);
  }
  background-color: $admin-color;
}
.user-cell.owner {
  &:hover {
    background-color: lighten($owner-color, $lightness-scale);
  }
  background-color: $owner-color;
}

.user-cell__avatar {
  max-width: $av-radius;
  max-height: $av-radius;
  overflow: hidden;
  padding: 0px;
  border-radius: 50%;
}

p.user-cell__name {
  display: inline-block;
  margin: 0;
  margin-left: 6px;
  margin-right: 14px;
  color: white;
  font-size: 0.9em;
}
