@import '_colors';
@import 'common';

$av-radius: 32px;
$member-color: $red-1;
$admin-color: $notice-blue;
$owner-color: $success-green;

.user-cells ul {
  @extend .bar;
}

.user-cell {
  // @extend .bar;
  display: inline-block;
  padding: 2px;
  padding-right: 14px;
  list-style-type: none;
  border-radius: 18px;
  background-color: $member-color;
}
.user_cell.admin {
  background-color: $admin-color;
}
.user_cell.owner {
  background-color: $owner-color;
}

.user-cell__avatar {
  max-width: $av-radius;
  max-height: $av-radius;
  overflow: hidden;
  padding: 0px;
  margin-right: 6px;
  border-radius: 50%;
}

p.user-cell__name {
  display: inline-block;
  margin: 0;
  color: white;
  font-size: 0.9em;
}
