@import '_colors';

.landing h1 {
  color: $blue-3;
  text-align: center;
  margin-top: 24px;
}

.landing p {
  color: $gray-2;
  text-align: center;
}

$blurple: #7289DA;

.login-button {
  background-color: $blurple;
  border-radius: 6px;
  max-width: 200px;
  min-width: 100px;
  padding: 10px;
  padding-bottom: 0px;
}

.login-button:hover {
  background-color: scale-color($blurple, $lightness: -14%);
  cursor: pointer;
}

.login-button p {
  color: white;
}
