@import '_colors';

.landing__title {
  color: $blue-3;
  text-align: center;
  margin-top: 24px;
}

.landing__description {
  color: $gray-2;
  text-align: center;
}

.login-button {
  background-color: $button-blue;
  border-radius: 6px;
  max-width: 200px;
  min-width: 100px;
  padding: 12px;
  text-align: center;
}

.login-button:hover {
  background-color: scale-color($button-blue, $lightness: -14%);
  cursor: pointer;
}

.login-button a {
  color: white;
}
