<div class="v-bar landing">
  <h1>AetherFE</h1>
  <p>A FE simulator.</p>
  <br />
  <div class="login-button">
    <a href="/login">
      <p class="link-button">
        Login with <img src="https://discordapp.com/assets/e7a3b51fdac2aa5ec71975d257d5c405.png" />
      </p>
    </a>
  </div>
</div>
