<div class="landing v-bar">
  <h1 class="landing__title">AetherFE</h1>
  <p class="landing__description">A FE simulator.</p>
  <br />
  <div class="login-button">
    <a href="/login">
      Login with
      <img src="https://discordapp.com/assets/e7a3b51fdac2aa5ec71975d257d5c405.png" />
    </a>
  </div>
</div>
